@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid {
  background-image: url("../public/grid8.png");
  background-size: cover;
  background-position: center;
  
  }
.spotlight {
      position: absolute;
      top: 40px;
      left: -130px;
      width: 200px;
      height: 700px;
      z-index: 10;
      background-image: conic-gradient(from 0deg at 50% -5%,transparent 45%,rgba(124,145,182,.3) 49%,rgba(124,145,182,.5) 50%,rgba(124,145,182,.3) 51%,transparent 55%);
      opacity: .5;
      border-radius: 9999px;
      filter: blur(15px);
      pointer-events: none;
      transform-origin: 50% 0;
      /* animation: spotlight_opacity__JVCgx calc(var(--duration, 5s) * 1.2) linear infinite var(--delay,0s) alternate,spotlight_scale__o4qjB calc(var(--duration, 5s) * 1.7) infinite var(--delay,0s) both; */
}